html {
    scroll-behavior: smooth;
}

#btnTop {
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .075);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.link {
    border: solid #77ab22;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.top {
    transform: rotate(-135deg);
    -webkit-trasform: rotate(-135deg);
}

/* Tabelas*/

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 8px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-c3ow, .tg-c3gh {
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-ukao, .tg-c3ow, .tg-c3gh {
    background-color: #c4e2c8;
    border-color: #000000;
    color: #000000;
    text-align: center;
    vertical-align: top
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

table, th, td {
    border: 1px solid black;
  }

@media screen and (min-width: 62.5em) .tr {
    padding-top: 5px
}

@media screen and (min-width: 62.5em) .tr {
    padding: 0
}

@media screen and (min-width: 37.5em) .tr {
    padding-top: 5px
}

tr:nth-child(even) {
    background-color: #96e0a0;
  }

#coluna1 {
    float: left;
    padding: 5px;
    width: 57%;
}

.carousel {
    border: 1px solid rgb(187, 212, 187);
    box-shadow: 1px 1px 4px black;
}

.carousel img{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
  }
